body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #fff;
    margin: 0;
    padding: 0; 
    background-image: linear-gradient(to bottom, black, rgb(80, 77, 77));
    background-repeat: no-repeat;
    overflow-x: hidden;   
    
}

.header {
    position: fixed;
    max-height: 2.5rem;
    height: 100%;
    width: 100%;
    z-index: 999;    
    background-color: rgba(9, 11, 14);
}

svg{
    top: 0 !important;
    font-size: 1.5rem;
    margin-left: 2.5rem;
  }

.title {
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

.main-page-content {    
    padding: 0rem 1.5rem 0 1.5rem;
}

.ola {
    font-weight: bold;
}

.intro {
    padding: 0 2.5rem 0.5rem 2.5rem;
    text-align: justify;
}

.img-main{
    text-align: center;
    
}

.img {
    width: 20rem;
    margin-top: 6rem;              
    filter: drop-shadow(0 0 0.5rem rgb(87, 85, 85) );  
    animation: pulse 2s linear ; 
}


.subtitle {
    font-weight: bold;
    text-align: center;
    padding: 2.5rem 0 2.5rem 0;
    filter: drop-shadow(0 0 0.5rem #000 );  
}

.card-text{
    text-align: justify;
}

.btn-intro {
    color: #fff;
    border-color: #fff;
}

.btn-intro:hover {
    color: #000 !important;
    border-color: #000 !important;
    background-color: #fff !important;
}

.img-skill {
    filter: drop-shadow(0 0 1rem rgb(5, 5, 5) );     
    animation: pulse 2s linear ; 
}

.img-skill:hover {
    animation: rotacionar .3s;
    animation-iteration-count: 1; 
}

.space {
    padding: 1rem 0 0 0;
}

.card:hover {

    -webkit-animation: pulse 1s ease;
    -moz-animation: pulse 1s ease;
    -ms-animation: pulse 1s ease;
    -o-animation: pulse 1s ease;
    animation: pulse 1s ease ;
}

.rainbow {
    padding: 1rem;
    height: 100%;
    --angle: 0deg;
	border: 0.1rem solid;
	border-image: conic-gradient(from var(--angle), rgba(0, 255, 255, 0.541), rgb(187, 7, 187), rgb(19, 199, 190), blue, rgba(0, 255, 255, 0.541), rgb(187, 7, 187), rgb(19, 199, 190), blue) 1;	
	animation: 2s rotate linear infinite;
}

.projetos {
    
    padding: 0 0 0 1.5rem;
}

.sub {
    border: 1px solid #fff;

}

.card {
    background-color: rgb(59, 70, 81) !important;
    border-radius: 0;
    height: 100%;
    filter: drop-shadow(0 0 0.5rem rgb(10, 10, 10) );  
}

.card-img-top {
    border-radius: 0;
}

.card-body{
    padding: 1rem 1rem 2.5rem 1rem;
    text-align: justify;
}

.card-title {
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
}

.card-text{
    padding: 0 1rem 0 1rem;   
    filter: drop-shadow(0 0 1rem rgb(5, 5, 5) );
}

.card-button {
    border-radius: 0;
    border-color: #13141b;
    background-color: #2e343b;
    color:#fff;
}

.card-button:hover {
    background-color: rgb(59, 70, 81) !important;
    border-color: #13141b !important;
}

.card-icon {
    padding: 0.5rem;
}


.footer-text {
    padding: 0 0 0.5rem 0 ;
}

@keyframes pulse { 
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@keyframes rotacionar {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(+20deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}


@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}



::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2e343b;
    border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2e343b;
}









